/* @import './base.css'; */

/* CSS */
:root {
  --main-font: 'Inter', sans-serif;
  --variable-font: 'InterVariable', sans-serif;
  --fallback-font: 'GTWalsheimPro', sans-serif;
  font-family: var(--main-font);
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: var(--variable-font);
  }
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('/src/fonts/GTWalsheimPro-Medium.ttf') format('truetype'),
       url('/src/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  
}

* {
  font-family: Inter, sans-serif;
}

#app {
  width: 100%;
  font-family: Inter, sans-serif;
  
}



